.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8.5vh;
  min-height: 100vh;
  min-width: 100vw;
  /* border: 1px solid red; */
}

.header {
  color: white;
  font-weight: 300;
  margin: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  /* color: #61AFEF; */
  color: black;
  transition: color 0.25s, transform 0.25s;
  margin: 8px 20px;
  font-size: 2em;
}

.icon:hover {
  color: white;
  transform: translatey(-0.25em);
}

.icon:active {
  color: white;
  transform: translatey(0);
}

.inputs {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  /* align-items: center;
  justify-content: center;
  margin: 5px; */
  padding: 25px 15px;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.input {
  /* margin: 15px 5px;
  padding: .2em; */
  /* min-width: 25vw;
  background-color: #c7cfdf; */
  border-radius: 3px;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
  color: white;
  /* color: #98C379; */
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #c7cfdf;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
  height: 44px;
}

.inputBox textarea:valid~i,
.inputBox textarea:focus~i {
  height: 95px;
}

.input::placeholder {
  color: black;
}

.button {
  background-color: #61AFEF;
  /* background-color: #ABB2BF; */
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  margin-top: 5px;
  transition: color 0.25s, background-color 0.25s;
}

.button:hover {
  cursor: none;
  background-color: #282C34;
  color: #61AFEF;
  border: 1px solid #61AFEF;
}

.button:active {
  background-color: #61AFEF;
  border: none;
  color: #282C34;
}

.message {
  height: 100px;
}

textarea {
  resize: none;
}

@media screen and (max-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8.5vh;
    min-height: 100vh;
    min-width: 100vw;
  }

  .header {
    color: white;
    font-weight: 300;
    margin: 10px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .icon {
    /* color: #61AFEF; */
    color: black;
    transition: color 0.25s, transform 0.25s;
    margin: 8px 20px;
    font-size: 2em;
  }

  .icon:hover {
    color: white;
    transform: translatey(-0.25em);
  }

  .icon:active {
    color: white;
    transform: translatey(0);
  }

  .inputs {
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    /* align-items: center;
  justify-content: center;
  margin: 5px; */
    padding: 25px 15px;
  }

  .inputBox {
    position: relative;
    width: 200px;
    margin-top: 17px;
  }

  .input {
    /* margin: 15px 5px;
  padding: .2em; */
    /* min-width: 25vw;
  background-color: #c7cfdf; */
    border-radius: 3px;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: .75em;
    letter-spacing: 0.025em;
    z-index: 10;
  }

  .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: .75em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.025em;
    transition: 0.5s;
  }

  .inputBox input:valid~span,
  .inputBox input:focus~span,
  .inputBox textarea:valid~span,
  .inputBox textarea:focus~span {
    color: white;
    /* color: #98C379; */
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
  }

  .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #c7cfdf;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  .inputBox input:valid~i,
  .inputBox input:focus~i {
    height: 38px;
  }

  .inputBox textarea:valid~i,
  .inputBox textarea:focus~i {
    height: 90px;
  }

  .input::placeholder {
    color: black;
  }

  .button {
    background-color: #61AFEF;
    /* background-color: #ABB2BF; */
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    margin-top: 5px;
    transition: color 0.25s, background-color 0.25s;
  }

  .button:hover {
    cursor: none;
    background-color: #282C34;
    color: #61AFEF;
    border: 1px solid #61AFEF;
  }

  .button:active {
    background-color: #61AFEF;
    border: none;
    color: #282C34;
  }

  .message {
    height: 100px;
  }

  textarea {
    resize: none;
  }

}