.main {
  color: white;
  padding: 15vh 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border: 1px solid pink;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 55vw;
  height: 50vh;
  padding: 10px 50px;
}

.link {
  text-decoration: none;
  color: #61AFEF;
  transition: color 0.25s
}

.link:hover {
  color: #282C34;
}