.nav {
  width: 100vw;
}

.body {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 15px;
  background-color: transparent;
}

.nameAndTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* .links {
  border: 1px solid red;
} */

.headers {
  font-weight: 400;
  margin: 5px 10px;
}

.link {
  font-size: small;
  text-decoration: none;
  color: white;
  margin: 0 5px;
  transition: color 0.25s;
}

.link:hover {
  /* color: cornflowerblue; */
  color: #282C34;
}

/* use this link to create reactive navbar
https://blog.logrocket.com/create-responsive-navbar-react-css/ */