.nav {
  width: 98.5vw;
  position: fixed !important;
  overflow: hidden;
  top: 0;
}

.body {
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.nameAndTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.links {
  border: 1px solid red;
}

.headers {
  font-weight: 400;
  margin: 5px 10px;
}

.link {
  font-size: small;
  text-decoration: none;
  color: white;
  margin: 0 5px;
  transition: color 0.25s
}

.link:hover {
  color: cornflowerblue;
}