.nav {
  width: 100vw;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 15px;
  background-color: transparent;
}

.nameAndTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.headers {
  font-weight: 400;
  margin: 5px 10px;
}

.link {
  font-size: small;
  text-decoration: none;
  color: white;
  margin: 0 5px;
  transition: color 0.25s;
}

.link:hover {
  color: #282C34;
}

@media screen and (max-width: 650px) {

  .nameAndTitle>h5 {
    visibility: hidden;
  }

  .nameAndTitle>h3 {
    text-align: start;
    min-width: 100%;
  }

}