.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: transparent;
  height: 100vh;
}

.mainHeader {
  color: #282C34;
}

.image {
  margin: 2em 0;
}

.subHeader {
  color: white;
  margin: 1em 0;
}