html {
  scroll-snap-type: y mandatory;
}

.body {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  height: 100vh;
  /* padding-top: 10vh; */

}

.link {
  text-decoration: none;
  color: cornflowerblue;
  margin: 0 5px;
  transition: color 0.25s
}

.link:hover {
  color: white;
}

.description {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  text-align: center;
  padding: 0 35px;
}

.project {
  /* scroll-snap-align: start; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* margin-top: 10vh; */
}

.technologies {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  margin: 8px;
}

.icon {
  color: white;
}

.icon:visited {
  color: white;
}

.icon:hover {
  color: #E5C07B;
}

.video {
  border: 1px solid skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* object-fit: cover; */
}

.video video {
  width: 45vw;
  height: 30vh;
}