html {
  scroll-snap-type: y mandatory;
}

.body {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: cornflowerblue;
  margin: 0 5px;
  transition: color 0.25s
}

.link:hover {
  color: white;
}

.project {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  text-align: center;
}

.technologies {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  margin: 8px;
}

.icon {
  color: white;
}

.icon:visited {
  color: white;
}

.icon:hover {
  color: #E5C07B;
}